body {
    background-color: rgb(41, 136, 130);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cal {
    font-size: 80px;
    color: rgb(175, 255, 15);
    margin-bottom: 10px;
    text-align: center;
}

.badadiv {
    width: 400px;
    height: 600px;
    background-color: rgb(0, 0, 0);  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.input1 {
    width: 95%;
    height: 20%;
    margin: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(20, 2, 2);
    text-align: right;
    font-size: 30px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    height: 70px;
    background-color: rgb(80, 7, 7);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.ac1 {
    background-color: rgb(255, 0, 0);
}

.equalto {
    grid-row: span 2;
    height: 150px;
}

.zero {
   grid-column: span 2;
}


.foot {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 8px;
}


@media (max-width: 480px) {
    .cal {
        font-size: 40px;
    }

    .badadiv {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .input1 {
        height: 60px;
        font-size: 20px;
    }

    button {
        height: 60px;
        font-size: 18px;
    }

    .equalto {
        height: 130px;
    }

    .foot {
        font-size: 16px;
        margin-top: 10px;
    }
}
